# More info: https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Ignore build and test binaries.
bin/
testbin/
*.test

# Ignore IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# Ignore git metadata
.git/
.gitignore

# Ignore CI config
.github/
.tekton/

# Ignore docs
*.md
docs/
LICENSE
